<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djr.dao.UserInfoDAO">

    <select id="reg" parameterType="com.djr.entity.UserInfo">
        INSERT INTO userinfo (uName,uPass,head,gender) VALUES (#{uName},#{uPass},#{head},#{gender})
    </select>

    <select id="checkUserName" resultType="boolean" parameterType="String">
        SELECT COUNT(*) FROM userinfo WHERE uName = #{uName}
    </select>

    <select id="login" resultType="com.djr.entity.UserInfo" parameterType="Map">
        SELECT * FROM userinfo WHERE uName = #{uName} AND uPass = #{uPass}
    </select>

    <select id="findUname" resultType="String" parameterType="int">
        SELECT uName FROM userinfo WHERE uId = #{uId}
    </select>

    <select id="getUserInfo" resultType="com.djr.entity.UserInfo" parameterType="int">
        SELECT * FROM userinfo WHERE uId = #{uId}
    </select>
    
</mapper>