<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/djr/dao/mapper/BoardInfoMapper.xml"/>
        <mapper resource="com/djr/dao/mapper/ReplyInfoMapper.xml"/>
        <mapper resource="com/djr/dao/mapper/TopicInfoMapper.xml"/>
        <mapper resource="com/djr/dao/mapper/UserInfoMapper.xml"/>
    </mappers>
</configuration>